.container{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.firstrow{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.element{
    border: 5px solid orange;
    width: 30px;
    height: 30px;
}